<header class="header">
  <nav
  class="navbar navbar-expand-lg navbar-light bg-light" > 
    <div class="container">
      <a class="navbar-brand-Menu" [routerLink]="['/']">SEYNEKUN</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="item-menu">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="active" [routerLink]="['/panelaRegistro']"
              >Registro de produccion</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="active" [routerLink]="['/panelaConsulta']"
              >Consultar produccion</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
