a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: white;
  
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.navbar-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(38, 165, 70);
  
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover:not(.active) {
  background-color: rgb(74, 252, 4);
  color:black;
  
}

.nav-item{
  color: white;
}
.navbar{
  background-color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    position: fixed;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 3px;
    width: 100%;
   overflow: hidden;

}