<html>

<head>
         <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
        <link rel="stylesheet" href="assets\css\estilos.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        </head>
        

<body>
    <div class="container">
        <div class="row">
            
                <h2 class="form-tittle">REGISTRO DE PRODUCCION DE <span>PANELA</span></h2> 
                <form class="form" >
                    <div class="form-group">
                        <label for="Codigo" class="form-label">Codigo Registro</label>
                        <input type="text" class="form-input" name="Idregistro" [(ngModel)]="panela.idregistro" />
                    </div>
                    <div class="form-group">
                        <label for="fecha" class="form-label">Fecha de ingreso</label>
                        <input type="date" class="form-input"  name="fechaIngreso" [(ngModel)]="panela.fechaIngreso" />
                    </div>
                    <div class="form-group">
                        <label for="NumeroLote" class="form-label" >Numero de lote</label>
                        <input type="text" class="form-input"  name="numeroLote" [(ngModel)]= "panela.numeroLote"  />
                    </div>
                    <div class="form-group">
                        <label for="NumeroLoteAgricola" class="form-label">Numero de lote Agricola</label>
                        <input type="text" class="form-input"  name="numeroLoteAgricola" [(ngModel)]= "panela.numeroLoteAgricola"  />
                    </div>
                    <div class="form-group">
                        <label for="Etapas" class="form-label">Etapas</label>
                        <select name="etapas" class="form-input" [(ngModel)]= "panela.etapas"  > 
                            <option>Filtrado</option>
                            <option>Evaporacion</option>
                            <option>Punteo</option>
                            <option>Moldeo</option>                       
                         </select>
                    </div>
                    <div class="form-group">
                        <label for= "Cantidad"  class="form-label">Cantidad obtenida</label>
                        <input type="text" class="form-input"  name="cantidad" [(ngModel)]= "panela.cantidad"   />
                    </div>
                    <div class="form-group">
                        <label for="Responsable" class="form-label">Responsable</label>
                        <input type="text" class="form-input"  name="responsable" [(ngModel)]= "panela.responsable"  />
                    </div>
                    <div class="text-center">
                        <button class=" btn btn-success mr-1" (click)="add()">Registrar</button>
                        <button class="btn btn-danger" type="reset">Cancel</button>
                    </div>
                </form>
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
